<html>
  <head></head>
  <body>
    <p>
      "The secret number is X, where the secret number is <%= hidden_number %>."
    </p>
    <form>
      <input type='text' name='guess'/>
      <input type='submit' value='Guess!'/>
    </form>
    <p>
      <%= message %>
    </p>
  </body>
</html>